@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* filter: invert(54%) sepia(30%) saturate(1826%) hue-rotate(346deg) brightness(101%) contrast(103%); */

:root{
  --Orange: #ff7d1a;
  --Pale-orange: hsl(25, 100%, 94%);
  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%)
}

*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Kumbh Sans";
  padding: 0 45px;
  position: relative;
  overflow: hidden;
}

/* navbar */
.navbar{
  max-width: 1400px;
  margin: 0 auto;
  border-bottom: 1px solid rgb(226, 226, 226);
  padding: 30px 0;
}

/* left-side */
.left-side-navbar.flex{
  justify-content: flex-start;
  width: 100%;
}

.menu-close,
.menu{
  display: none;
}

ul{
  margin: 0 40px;
}

li{
  list-style: none;
  margin: 0 18px;
  display: inline-block;
  position: relative;
}

li::before{
  content: "";
  width: 0%;
  height: 5px;
  background-color: var(--Orange);
  position: absolute;
  bottom: -47px;
  transition: all .3s;
}

li:hover{
  color: var(--Black);
}

li:hover::before{
  width: 100%;
}

/* right-side */
.cart-icon-container{
  margin: 0 35px;
  position: relative;
}

.itemCountShow{
  padding: 0 6px;
  background-color: var(--Orange);
  border: none;
  position: absolute;
  top: -6px;
  right: -5px;
  border-radius: 7px;
  font-size: 8px;
  color: var(--White);
}

.cart-item{
  position: absolute;
  top: 90px;
  right: 40px;
  display: none;
  background-color: var(--White);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  width: 400px;
  height: 260px;
  border-radius: 10px;
  transition: all .3s;
}

#close{
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu:hover,
.menu-close:hover,
#popup-close-btn:hover,
#close:hover{
  filter: invert(54%) sepia(30%) saturate(1826%) hue-rotate(346deg) brightness(101%) contrast(103%);
}

.cart-title{
  padding: 20px;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.avatar{
  width: 50px;
  transition: border .3s;
}

.avatar:hover{
  border: 2px solid var(--Orange);
  border-radius: 50%;
}
/* <========== end of navbar =========> */
/* <========== main content =========> */
.main-container{
  max-width: 1300px;
  padding: 0 20px;
  margin: 5% auto;
}

/* main img-styles */
.main-img-container{
  width: 44%;
}

.main-img-show{
  width: 100%;
  border-radius: 20px;
}

.bottom-img-row .small-img-container{
  width: 100%;
  margin: 20px 3%;
  position: relative;
  background-color: var(--White);
  border-radius: 13.5px;
}

.active-border{
  border: 3px solid var(--Orange);
}

.bottom-img-row img.current-img-display{
  opacity: .5;
}

.bottom-img-row img{
  width: 100%;
  display: block;
  object-fit: cover;
  position: relative;
  border-radius: 10px;
  opacity: 1;
}

.small-img-container img:hover{
  transition: .4s;
  opacity: .5;
}

/* detail styles */
.main-detail-container{
  width: 46%;
}

.title{
  text-transform: uppercase;
  letter-spacing: 2px;
}

.main-detail-container h1{
  font-size: 3rem;
  color: var(--Black);
}

.main-detail-container p{
  font-size: 20px;
  line-height: 1.5;
}

.add-to-cart-row.flex,
.price-row.flex{
  justify-content: flex-start;
  gap: 0 20px;
}

.price-row h2{
  font-size: 2rem;
}

.price-row .discount-percentage{
  padding: 5px 10px;
  background-color: var(--Pale-orange);
  font-weight: 700;
  border-radius: 3px;
  margin: 0 20px;
} 

.price-row.flex{
  align-items: flex-start;
  flex-direction: column;
}

.discount-text{
  margin-top: 10px;
}

.add-to-cart-row{
  max-width: 450px;
}

.amount-row{
  background-color: var(--Light-grayish-blue);
  width: 100%;
  margin: 20px 0;
  padding: 10px 15px;
  border-radius: 10px;
}

.amount-row img:hover{
  opacity: 0.7;
}

.amount-row p{
  font-size: 16px;
  font-weight: 700;
}

.add-to-cart-btn{
  width: 100%;
  background-color: var(--Orange);
  border: none;
  padding: 15px 0;
  color: var(--White);
  font-weight: 700;
  border-radius: 10px;
  font-size: 15px;
  transition: opacity .3s;
}

.add-to-cart-btn img{
  width: 18px;
  margin: 0 10px;
  filter: brightness(0) invert(1);
}

.add-to-cart-btn:hover{
  opacity: .6;
}

/* cart active state styles */
.cart-item-active.flex {
  flex-direction: column;
  padding: 25px;
  justify-content: flex-start;
}

.cart-item-active,
.empty-cart.flex{
  align-items: center;
  justify-content: center;
  height: 75%;
}

.cart-item-img {
  width: 60px;
  border-radius: 5px;
}

.cart-item-active-text{
  width: 1fr;
  margin: 0 30px;
}

.cart-item-active .add-to-cart-btn{
  margin-top: 25px;
  height: 60px;
}

.cart-item-active-text h4{
  font-weight: 400;
  line-height: 1.5;
}

.cart-item-active-text span{
  font-weight: 700;
}

/* for popup show */
.overlay{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--Black);
  opacity: .8;
  transition: .5s;
}

.overlay.hidden{
  opacity: 0;
}

.popup-img-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-shoes-img-container{
  position: relative;
  width: 500px;
  transition: .5s;
}

/* responsive popup */

@media(max-width: 1300px) {
  .popup-shoes-img-container{
    width: 400px;
  }
}

@media(max-width: 1100px) {
  .popup-shoes-img-container{
    width: 300px;
  }
}

#popup-close-btn{
  position: absolute;
  top: -50px;
  right: 0;
  z-index: 2;
  width: 20px;
  filter: brightness(0) invert(1);
}

#popup-previous-btn,
#popup-next-btn{
  position: absolute;
  background-color: var(--White);
  padding: 15px;
  border-radius: 50%;
  top: 40%;
  transform: translateY(-50%);
  transition: background-color .5s;
}

#popup-next-btn:hover,
#popup-previous-btn:hover{
  background-color: var(--Orange);
}

#popup-previous-btn{
  right: -20px;
}

#popup-next-btn{
  left: -20px;
}

.small-screen-btn{
  display: none;
  top: 0;
}

.small-screen-btn#popup-previous-btn,
.small-screen-btn#popup-next-btn{
  top: 50%;
  width: 40px;
}

.small-screen-btn#popup-previous-btn{
  right: 10px;
}

.small-screen-btn#popup-next-btn{
  left: 10px;
}
/* responsive desgin for tablet */
@media (max-width: 1000px) {
  .title{
    font-size: 18px;
  }

  .main-detail-container h1{
    font-size: 2.25rem;
    color: var(--Black);
  }

  .main-detail-container p{
    font-size: 18px;
    line-height: 1.5;
  }

  .price-row h2{
    font-size: 1.5rem;
  }

  .avatar{
    width: 40px;
  }
}

@media (max-width: 930px) {
  .title{
    font-size: 18px;
  }

  .main-detail-container h1{
    font-size: 2rem;
    color: var(--Black);
  }

  .main-detail-container p{
    font-size: 16px;
    line-height: 1.5;
  }

  .price-row h2{
    font-size: 1.25rem;
  }

  .menu-close,
  .menu{
    display: block;
    margin: 0 20px;
  }

  .menu-close{
    width: 20px;
    position: absolute;
    top: 30px;
    left: 10px;
  }
  
  body{
    padding: 0 20px;
  }

  ul{
    transition: .5s;
    position: fixed;
    top: 0;
    left: -400px;
    width: 300px;
    padding: 120px 20px;
    height: 100%;
    z-index: 1000;
    background-color: var(--White);
    flex-direction: column;
  }
  
  li{
    font-size: 1.25rem;
    display: block;
    list-style: none;
    position: relative;
    color: var(--Black);
    font-weight: 700;
    margin-bottom: 30px;
  }
  
  li::before{
    content: "";
    width: 0%;
    height: 1px;
    background-color: var(--Orange);
    position: absolute;
    bottom: -10px;
    transition: all .3s;
  }
  
  li:hover{
    color: var(--Black);
  }
  
  li:hover::before{
    width: 100%;
  }
}

@media (max-width: 850px) {
  .title{
    font-size: 16px;
  }

  .main-detail-container h1{
    font-size: 1.75rem;
  }

  .main-detail-container p{
    font-size: 16px;
    line-height: 1.5;
  }

  .price-row h2{
    font-size: 1.25rem;
    margin: 0;
  }
}

@media (max-width: 750px) {
  .title{
    font-size: 16px;
  }

  .main-detail-container h1{
    font-size: 1.5rem;
    margin: 15px 0;
  }

  .main-detail-container p{
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
  }

  .price-row h2{
    font-size: 1.25rem;
  }
}

/* desgin for small screen */
@media (max-width: 600px) {
  .navbar{
    background-color: var(--White);
    position: fixed;
    z-index: 10000;
    padding: 20px;
    width: 100%;
    left: 0;
    top: 0;
    
  }
  
  .small-screen-btn{
    display: block;
  }

  .main-container.flex,
  body{
    padding: 0;
    overflow: auto;
  }

  .main-container.flex{
    flex-direction: column;
  }

  .main-img-container{
    width: 100%;
    position: relative;
  }

  .main-detail-container h1{
    font-size:  2rem;
    margin: 15px 0;
  }

  .main-detail-container p{
    font-size: 18px;
    line-height: 1.6;
    margin: 0;
  }

  .price-row.flex{
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
  }

  .price-row h2{
    display: inline-block;
    font-size: 2rem;
    margin: 0 15px;
  }

  .discount-percentage{
    font-size: 1rem;
    display: inline-block;
  }

  .main-img-container .main-img-show{
    border-radius: 0;
    pointer-events: none;
  }

  .main-img-container .bottom-img-row{
    display: none;
  }

  .main-detail-container{
    width: 100%;
    padding: 20px 30px;
  }

  .add-to-cart-row.flex{
    flex-direction: column;
  }

  .cart-item{
    top: 90px;
    right: 5%;
    width: 90%;
    height: 260px;
  }

  
}
::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background: #00000033;
}

::-webkit-scrollbar-thumb{
  background: #fff;
  border: 1px solid rgb(151, 151, 151);
  border-radius: 100vw;
}